#root{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    max-width: 300px;
    border: 1px solid aqua;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

.card img{width: 100%; object-fit: cover; height: 400px;}

.card h1{
    font-weight: bold;
    margin-block: 6px;
}

.card p{
    margin-block: 4px;
}


.card a button{
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    margin-block: 15px 8px;
    cursor: pointer;
    color: black;
    background-color: rgba(0, 255, 255, 0.774);
}

.card a button:hover{
    background-color: aqua;
}